// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #f7f7e8;
  text-align: center;
}

.navbar {
  background-color: #c7cfb7;
  padding: 20px;
  width: 100%;

}
